@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
    color: #666;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9f9f9;
    max-width: 1300px;
    margin: auto;
}

.header {
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
header.header img {
    height: 70px;
    width: auto;
    margin-left: 60px;
}
  
header.header ul {
    list-style-type: none;
    margin-right: 50px;
    display: flex;
    flex-wrap: nowrap;
}
  
header.header a {
    text-decoration: none;
    font: bolder 14px 'Open Sans';
    text-transform: uppercase;
    color: #505353;
    padding: 8px 18px;
}
  
header.header a:hover {
    background: #B2D235;
    border-radius: 15px;
    color: white;
}


.home {
    background-image: url(../img/banner.png);
    background-size: cover;
    height: 500px;
    text-align: center;
    padding: 50px;
}

.home h1 {
    font-size: 45px;
    color: white;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.courses {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
  
.courses-items {
    width: 370px;
    height: 480px;
    background-color: #11114E;
    margin: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
  
.courses-items-img {
    height: 50%;
    width: 100%;
    border-radius: 15px 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.courses-items-img img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
  
.courses-items-text {
    display: flex;
    align-items: center;
    background-color: white;
    flex-direction: column;
    width: 100%;
    height: 50%;
    border-radius: 0 0 15px 15px;
}
  
.courses-items-text h1 {
    font: bold 30px;
    color: #121212;
    margin: 20px 0 15px 0;
}
  
.courses-items-text p {
    font: normal 14px;
    color: #505353;
    text-align: center;
    margin: 0 37px;
}
  
.courses-items-text a {
    text-decoration: none;
    background-color: #464775;
    width: 200px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    font: bold 18px;
    color: white;
    border-radius: 22px;
    margin-top: 15px;
    padding-bottom: 3px;
}
  
.courses-items-text a:hover {
    box-shadow: none;
    background-color: #33344a;
}

/* Header/logo tiêu đề */


/* Tăng kích thước font chữ cho header */


section {
    padding: 20px;
}

li {
    float: left;
}

li a,
.dropbtn {
    display: inline-block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active),
.dropdown:hover .dropbtn {
    color: white;
    background-color: #4CAF50;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #666;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Landing page */

.hideable-section {
    display: none;
}

.hideable-section:first-of-type {
    display: block;
}